body{
    background-image: url(https://images4.alphacoders.com/775/thumb-1920-77548.jpg);
    background-size: 100%;
}

#ProfileContainer{
    background-color: #1565c0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    border-radius: 20px;
}
.ImgProfile{
    width: 15vw;
    border-radius: 100%;
}
#DirectivosContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#DirectivosGrid{
    width: 100%;
    height: max-content;
    margin:0% 10% 0% 10%;
    background-color: #2D3A3A;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    border-radius: 20px;
}
#ProfileCont{
    grid-column: 1/2;
    grid-row: 1/2;
}
.Pprofile{
    font-weight: bold;
}
.button2{
    border: 0px solid;
    border-radius: 16px;
    box-shadow: 0 6px 5px 3px rgba(0, 0, 0, 0.7);
}
#CardsCont{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
}
#Grupo1{
    align-items: center;
    justify-content: space-around;
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}
#Grupo2{
    align-items: center;
    justify-content: space-around;
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
}

.CardS{
    background-size: 100%;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    cursor: pointer;
    transition:all 700ms;
    box-shadow: 15px 15px 20px black  !important;
}
.CardS:hover{
    transition:all 700ms;
    width: 12vw;
    height: 12vw;
    box-shadow: 10px 10px 10px black  !important; 
}
#DatosContainer{
    padding: 1vw;
    border-radius: 1vw;
    background-color: white;
    color: black;
}

.Direc1{
    background: linear-gradient(50deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,1) 100%);
    width: 13vw;
    height: 13vw;
}
.Direc2{
    background: linear-gradient(280deg, rgba(0,57,64,0.9) 0%, rgb(150, 0, 150, 0.6) 60%, rgba(150,0,150,1) 100%);
    width: 13vw;
    height: 13vw;
}
.Direc3{
    background: linear-gradient(280deg, rgba(0, 20, 90, 0.8) 0%, rgba(252,176,69,0.8) 50%, rgba(252,176,69,1) 100%);
    width: 13vw;
    height: 13vw;
}

.Direc4{
    background: linear-gradient(40deg, rgba(131,58,180,0.6) 0%, rgba(253,29,29,0.6) 80%, rgba(252,176,69,0.9) 100%);
    width: 13vw;
    height: 13vw;
}
.icono{
    width: 13vw;
    transition: all 700ms;
  }
.icono:hover{
    width: 12vw;
    transition: all 700ms;
}
.pIcono{
    font-size: 1.2vw;
    text-align: center;
}

@media(max-width: 600px){
    #CardsCont{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80vh;
    }
    #Grupo1{
        flex-flow: column;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #Grupo2{
        flex-flow: column;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .CardS{
        width: 18vh;
        height: 18vh;

    }
    .ImgProfile{
        margin:0 0 0 3px;
        width: 10vh;
        border-radius: 100%;
    }
    .Pprofile{
        margin:0 3px 0 3px;
    }
    #DirectivosContainer{
        display: block;
    }
    #ProfileContainer{
        height: 20vh;
        flex-flow: initial;
    }
    #DirectivosGrid{
        margin:0;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
    }
    #ProfileCont{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #CardsCont{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

@media(max-width: 560px){
    .button2{
        font-size: 12px;
    }
}