.SelectNotas-Estudiantes_notas {
  width: 100px;
  height: 40px;
  font-family: "Alata", sans-serif;
  font-weight: bold;
  margin: 0px 4px 0px 4px;
  color: black;
}

.FiltrosNotasEstudiantes-Estudiantes_notas {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: lightgray;
}
.FiltrosNotasEstudiantes-Estudiantes_notas {
  margin: 0 2vw 0 2vw;
}

.RegistroEsContainer-Estudiantes_notas {
  width: 98vw - 10px;
  padding: 1vw;
  height: max-content;
  background-color: rgb(45, 58, 58, 0.8);
}

.ButtonNotas-Estudiantes_notas {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.ButtonNotas-Estudiantes_notas:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.pTextos-Estudiantes_notas {
  margin-top: 9px;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
}

.CardsContainerEstudiantes_Notas-Estudiantes_notas {
  margin: 1vw 0vw 1vw 0vw;
}

.Dis-Estudiantes_notas{
  display: none;
}

.MinMin-Estudiantes_notas {
  width: 80px;
}

.Min-Estudiantes_notas {
  width: 40px;
  height: 40px;
  font-family: "Alata", sans-serif;
  font-weight: bold;
  margin: 0px 4px 0px 4px;
}

.More-Estudiantes_notas {
  width: 180px;
  height: 40px;
  font-family: "Alata", sans-serif;
  font-weight: bold;
  margin: 0px 4px 0px 4px;
}

@media (max-width: 430px) {
  .SelectNotas-Estudiantes_notas {
    padding: 0;
    font-size: 8px;
    height: 25px;
    width: 60px;
  }
}
