#ProfileContainer{
    background-color: #2BA84A;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}
.ImgProfile{
    width: 15vw;
}
#DirectivosContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#DirectivosGrid{
    width: 100%;
    height: max-content;
    margin:0% 10% 0% 10%;
    background-color: #2D3A3A;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
}
#ProfileCont{
    grid-column: 1/2;
    grid-row: 1/2;
}
#CardsCont{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
}
#Grupo1{
    align-items: center;
    justify-content: space-around;
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}
#Grupo2{
    align-items: center;
    justify-content: space-around;
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
}

.CardS{
    background-size: 100%;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    cursor: pointer;
    transition:all 700ms;
    box-shadow: 15px 15px 20px black  !important;
}
.CardS:hover{
    transition:all 700ms;
    width: 12vw;
    height: 12vw;
    box-shadow: 10px 10px 10px black  !important; 
}
#DatosContainer{
    background-color: lightgrey;
    padding: 1vw;
    border-radius: 1vw;
}

.img-direc1{
    width: 50px;
    height: 50px;
}
.img-direc2{
    width: 50px;
    height: 50px;
}
.img-direc3{
    width: 50px;
    height: 50px;
}
.img-direc4{
    width: 50px;
    height: 50px;
}
@media(max-width: 600px){
    #CardsCont{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80vh;
    }
    #Grupo1{
        flex-flow: column;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #Grupo2{
        flex-flow: column;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .CardS{
        width: 18vh;
        height: 18vh;

    }
    .ImgProfile{
        margin:0 0 0 3px;
        width: 10vh;
    }
    .Pprofile{
        margin:0 3px 0 3px;
    }
    #DirectivosContainer{
        display: block;
    }
    #ProfileContainer{
        height: 20vh;
        flex-flow: initial;
    }
    #DirectivosGrid{
        margin:0;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
    }
    #ProfileCont{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #CardsCont{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

@media(max-width: 560px){
    .button2{
        font-size: 12px;
    }
}