.SelectR {
  width: 100px;
  height: 40px;
  font-family: "Alata", sans-serif;
  font-weight: bold;
  margin: 0px 4px 0px 4px;
  color: black;
}
.NameF {
  text-align: center;
  width: 300px;
}

.FiltrosREstudiante {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: lightgray;
}

.PChek {
  color: white;
}

#RegistroEsContainer {
  width: 98vw - 10px;
  padding: 1vw;
  height: max-content;
  background-color: rgb(45, 58, 58, 0.8);
}

#titleSisRContainer {
  text-align: center;
}

#bContainer {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column;
}

.DickBro {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
}

.Form2_2_2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.FiltrosREstudiante {
  margin: 0 2vw 0 2vw;
}

#CardsContainerReEs {
  margin: 2vw 0vw 2vw 0vw;
}

.REInput {
  font-family: "Alata", sans-serif;
  font-weight: bold;
  margin: 1vw;
  height: 40px;
  width: 200px;
}

#Algo_algo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MinMin {
  width: 80px;
}

.Min {
  width: 40px;
  height: 40px;
  font-family: "Alata", sans-serif;
  font-weight: bold;
  margin: 0px 4px 0px 4px;
}

.More {
  width: 180px;
  height: 40px;
  font-family: "Alata", sans-serif;
  font-weight: bold;
  margin: 0px 4px 0px 4px;
}

@media (max-width: 620px) {
  .REInput {
    width: 100px;
  }

  .GrupoF {
    display: none;
  }
}

@media (max-width: 520px) {
  .GradoF {
    display: none;
  }
}

@media (max-width: 430px) {
  .ImgRMas {
    width: 25px;
    height: 25px;
  }

  #ImgRMas {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }

  .SelectR {
    padding: 0;
    font-size: 8px;
    height: 25px;
    width: 60px;
  }

  .Peque {
    font-size: 10px;
  }

  .NameF {
    text-align: center;
    width: 150px;
  }
}
