.FooterContainer{

    background-color: #1565c0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.pFooter{

}

@media(max-width: 850px){
    .pFooter{
        font-size: 12px;
    }

}
@media(max-width: 680px){
    .FooterContainer{
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
 }